mixin home()
    - var prev = page.prev_link
    - var next = page.next_link
    .paginator
        if page.prev
            a.prev(href=url_for(prev))!= __('prev') 
        if page.next
            a.next(href=url_for(next))!= __('next')

mixin post()
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false; 
    .paginator
        .container
            .row 
                .col-sm
                    if prev
                        a.prev(href=url_for(prev))!= __('prev_post')
                .col-sm.text-center
                    a.next(href="/")
                        span="learn more 👇"
                        br
                        img(src="/images/blog-thumbnail.png", width="75%")
                .col-sm
                    if next
                        a.next.float-right(href=url_for(next))!= __('next_post')
